<div class="grid-container">
  <h1 class="mat-h1">Saved Bills</h1>
  

  <table class="table table-hover">
    <!--class="mat-elevation-z8 table table-striped"-->
    <tr>

      <th></th>
      <th> Biller Name</th>
      <th> Service Name</th>
      <th> Billing Number</th>
      <th> Amount To Pay</th>
      <th> Actions</th>
    </tr>
    <tr *ngFor="let d of data " [attr.id]="d.id">

      <td> <input class="form-check-input" (change)="changeStatus(d,$event)" type="checkbox" id="{{'checkBox' + d.id}}"
          disabled></td>
      <td>{{ d.billerName }}</td>
      <td>{{ d.serviceName}}</td>
      <td>{{ d.billingNumber }}</td>
      <td> <input id="{{'amountToPay' + d.id}}" matInput></td>
      <td>
        <button mat-button (click)="inquire(d)">Inquire</button>
        <button mat-icon-button (click)="deleteRow(d.id)" id="remove">
          <mat-icon mat-button style="color:gray">delete</mat-icon>
        </button>
      </td>
    </tr>
  </table>
  <a style="text-decoration: solid; font-size: 20px;"> Total amount to pay </a>
  <input disbaled type="text" [(ngModel)]='totalAmountToPay'>
  <div style="margin-top:20px"><button type="button" [routerLink]="'/paymentConfirmation'"  class="btn btn-success">Pay</button></div>
</div>
