<div class="grid-container">
    <h1 class="mat-h1">Pay New Bill   <button mat-icon-button color="primary" matTooltip="To pay a bill you first need to inquire it. To inquire a bill, select biller cateogry, then biller name, and then the service and finally type in the billing number." >
      <mat-icon>info</mat-icon>
    </button></h1>
    <table class="table table-hover">

      <tr>
          <td>
            <mat-form-field appearance="fill">
                <mat-label>Biller Category</mat-label>
                <mat-select (selectionChange)="addPost('Category:&nbsp; &nbsp; '+$event.value)" >
                  <mat-option>None</mat-option>
                  <mat-option value="Telecommunication">Telecommunication</mat-option>
                  <mat-option value="Electricity">Electricity</mat-option>
                  <mat-option value="Education">Education</mat-option>
                  <mat-option value="Government Services">Government Services</mat-option>
                  <mat-option value="Charity">Charity</mat-option>
                </mat-select>
              </mat-form-field>
          </td>

          <td>
            <mat-form-field appearance="fill">
                <mat-label>Biller Name</mat-label>
                <mat-select (selectionChange)="addPost('Biller: &nbsp; &nbsp; '+$event.value)" id ="biller" >
                  <mat-option>None</mat-option>
                  <mat-option value="T-Mobile">T-Mobile</mat-option>
                  <mat-option value="Netflix">Netflix</mat-option>
                  <mat-option value="George Mason University">George Mason University</mat-option>
                </mat-select>
              </mat-form-field>
          </td>
          <td>
            <mat-form-field appearance="fill">
                <mat-label>Service Name</mat-label>
                <mat-select  (selectionChange)="addPost('Service:&nbsp; &nbsp; ' +$event.value)" id="service" >
                  <mat-option>None</mat-option>
                  <mat-option value="Prepaid">Prepaid</mat-option>
                  <mat-option value="Balance">Balance</mat-option>
                  <mat-option value="Energy Bill">Energy Bill</mat-option>
                </mat-select>
           
            </mat-form-field>
          </td>
          <td>
            <mat-form-field  appearance="fill">
                <mat-label>Billing Number</mat-label>
               <input name="post" [(ngModel)]="billingNumber" #billingInput id="billingInput" matInput>
                <input id="billingInput" matInput>
              </mat-form-field>
          </td>
      </tr>
      
    </table>

    <div  style="margin-top:20px;">
        <button (click)="add('Billing number: &nbsp;&nbsp;'+ billingInput.value)"  [routerLink]="'/billSummary'" type="button" class="btn btn-success" style="position: absolute;
        right: 70px;">Inquire</button>
    </div>
    </div>
  